.channel-list, .channel-list-item {
    background-color: black !important;
    color: rgb(218, 215, 215) !important;

}

.channel-list, .channel-list-item.active {
    border-color: #018786 !important;
}