body {
    background-color: rgb(18, 18, 18) !important;
}

h2 {
    color: white;
}

.users-container {
    min-height: 600px;
    background: rgb(28, 28, 28) !important;
}

.chat-container {
    min-height: 600px;
    background: black !important;
    display: flex;
    flex-direction: column;
}

.message-bar-container {
    margin-top: auto;
}

.message-bar {
    background: black;
}