body {
    background-color: rgb(18, 18, 18) !important;
}

.logout-button-container {
    display: flex;
    justify-content: end;
    align-items: center;
}

.user-id {
    padding-top: 10px;
    padding-right: 30px;
    color: rgb(218, 215, 215);
}

.panel-header {
    color: rgb(218, 215, 215);
    display: flex;
    justify-content: center;
}

.channels-container {
    min-height: 700px;
    background: rgb(28, 28, 28) !important;
}

.chat-container {
    min-height: 700px;
    background: rgb(28, 28, 28) !important;
    display: flex;
    flex-direction: column;
}

.message-bar-container {
    margin-top: auto;
}

.message-bar {
    background: black;
}