body {
    background-color: rgb(18, 18, 18) !important;
}

.logout-button-container {
    display: flex;
    justify-content: end;
    align-items: center;
}

.user-id {
    padding-top: 10px;
    padding-right: 30px;
    color: rgb(218, 215, 215);
}

.panel-header {
    color: rgb(218, 215, 215);
    display: flex;
    justify-content: center;
}

.channels-title-container {
   background: black !important;
   color:rgb(218, 215, 215);
}

.channels-title {
    padding: 10px;
}

.channel-list-container {
    max-height: 563px;
    overflow-y: auto;
}

.new-channel-button {
    background: #3700b3 !important;
    color:  rgb(218, 215, 215) !important;
    border: none !important;
}

.new-channel-button:hover {
    background-color: #30009c !important;
    border: none !important;
}

.chat-container {
    min-height: 700px;
    background: rgb(28, 28, 28) !important;
    display: flex;
    flex-direction: column;
}

.message-bar-container {
    margin-top: auto;
}

.message-bar {
    background: rgb(70, 70, 70) !important;
}

