.content-container {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.login-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.alert-container {
    width: 522px !important;
};

.login-alert {
    width: 100% !important;
}

.login-box {
    height: 350px !important;
    width: 500px !important;
    background-color: rgb(28, 28, 28) !important;
}

.login-title {
    color: #03DAC6;
    display: flex;
    justify-content: center;
    padding-top: 10px;
    cursor: default;
}

.form-lable {
    color: grey;
}

.username-input, .password-input {
    background-color: rgb(70, 70, 70) !important;
    color: rgb(218, 215, 215) !important;
    border: none !important;
}

.button-container {
    display: flex;
    justify-content: center;
}

.login-button {
    width: 150px;
    background-color: #018786 !important;
    border: none !important;
}

.login-button:hover {
    background-color: #01736c !important;
    border: none !important;
}

.signup-prompt, .guest-prompt {
    color: grey;
    padding-top: 25px;
    display: flex;
    justify-content: center;
    cursor: default;
}

a:link, a:visited {
    color: #018786 !important;
    text-decoration: none !important;
}


