.messages-container {
    height: 605px;
    overflow-y: auto;
}

.messages-container::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}
  
.messages-container::-webkit-scrollbar-track {
background-color: transparent;
}

.messages-container::-webkit-scrollbar-thumb {
background-color: rgba(0, 0, 0, 0.2);
border-radius: 3px;
}

.messages-container::-webkit-scrollbar-thumb:hover {
background-color: rgba(0, 0, 0, 0.4);
}
