.message-container {
    display: block;
}

.message-content{
    background-color: rgb(70, 70, 70);
    color: rgb(218, 215, 215);
    max-width: 80%;
    padding: 8px 16px;
    border-radius: 15px;
    margin: 10px;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.2;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: inline-block;
    white-space: normal;
    cursor: default;
}

.username {
    color: #028786;
    font-weight: bold;
}

.user-message {
    background-color: #3a2d49 !important;
    color: #e6e4e8;
}

.user-message .username {
    color: #bb86fc;
    font-weight: bold;
}

.user-mesage .message {
    color: #e6e4e8;
}

