.signup-modal {
    background-color: rgb(18, 18, 18) !important;
    border: none !important;
}

.signup-modal-header, .signup-modal-footer {
    background-color: rgb(28, 28, 28) !important;
    border-color: darkgray !important;
}

.signup-modal-header {
    text-align: center;
}

.modal-title {
    color:#03DAC6 !important;
}

.signup-text {
    color: grey;
}

.signup-modal-body {
    background-color: rgb(28, 28, 28) !important;
}

.username-input, .password-input {
    background-color: black !important;
    color: rgb(218, 215, 215) !important;
    border: none !important;
}

.modal-content {
    border-radius: 0 !important;
}
  
.modal-header {
    border-top-left-radius: 0 !important;
    border-top-right-radius: 0 !important;
}
  
.modal-footer {
    border-bottom-left-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
}
